h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}
h4 {
  font-size: 1.17em;
  font-weight: bold;
}
h5 {
  font-size: 0.83em;
  font-weight: bold;
}
h6 {
  font-size: 0.67em;
  font-weight: bold;
}

.ProseMirror img {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.ProseMirror img.ProseMirror-selectednode {
  outline: 3px solid #3b82f6; /* Màu xanh khi focus */
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
  border-radius: 8px;
  scale: 105%;
}

/* Table-specific styling */
#text-editor table {
  border-collapse: collapse;
  margin: auto;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}
#text-editor td,
#text-editor th {
  border: 1px solid gray;
  box-sizing: border-box;
  min-width: 1em;
  padding: 2px 2px;
  position: relative;
  vertical-align: center;
  > * {
    margin-bottom: 0;
  }
}
